
#container{
  display: flex;
  height: 95vh;
  
}
#header{
  padding: 10px 20px;
  height: 7%;
  background-color: #0f0f0f;
}
#sidebar{
  
  width: 20%;
  height: 90%;
  background-color: #0f0f0f;
}
#mainbar{
 
  width: 80%;
  height: 90%;
  background-color: #0f0f0f;
}
ul li{
  list-style: none;
  color: white;
  margin-left: -10%;
}
#home-icon-div{
  width: 80%;
  height: 40px;
  background-color: #272727;
  border-radius: 10px;
  cursor: pointer;
}
#home-icon-div img{
  margin-top: 10px;
  margin-left: 10px;
}
span{
  font-size: smaller;
  margin-left: 10;
  font-family: Arial, Helvetica, sans-serif;
}
.search-box{
  display: flex;
  justify-content: center;

}
.search-box input[type="text"] {
  
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 14px;
  
  width: 400px;
  background-color: #0f0f0f;
  height: 27px;
  margin-top: -24;
  
}
li .search-icon{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: -19;
  margin-left: -26;
  
  
}

//for side bar options
.shorts-icon img{
margin-left: 10;

}

 .subs-icon img{
margin-left: 7;

}
 .history-icon img{
margin-left: 7;

 }
 .you-icon img{
margin-left: 2;

}
  


  .shorts-icon{
  margin-bottom: 7;
  cursor: pointer;
  }
  
   .subs-icon {
    margin-top: 7;
  margin-bottom: 7;
  cursor: pointer;
  padding-bottom: 10;
  border-bottom: thin solid #272727;
  }
   .history-icon {
  margin-bottom: 7;
  cursor: pointer;
   }
   .you-icon {
  margin-bottom: 7;
  cursor: pointer;
  }

 